venv/
__pycache__/
*.pyc
*.h5
*.keras
*.tflite
*.log
*.exe

# Dataset (VERY IMPORTANT)
PlantVillage/

# Uploads / temp files
static/uploads/

# OS files
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/